.personelPage_showcase {
  .content {
    color: rgb(0, 0, 0);
    grid-row: 2/3;
    grid-column: 1/1;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .sidebar {
    background: #000000;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    flex-wrap: wrap;
  }
  .sidebar > * {
      cursor: pointer;
      &:hover{
          color: $primary-color;
      }
  }
}
