.personelPage_showcase {
  footer {
    grid-row: 3/4;
    grid-column: 1/1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 30px 80px 20px;
    z-index: 2;
  }
  .fab {
    font-size: 24px;
  }
  .fa-facebook-f:hover {
    color: #4267b2;
  }

  .fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
      radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
      radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 10px;
    color: white;
  }

  .fa-twitter:hover {
    color: #5dbced;
  }
  .social {
    grid-column: 1/2;
    display: flex;
    width: 200px;
    justify-content: space-around;
  }
  .contact {
    grid-column: 3/4;
    font-weight: 600;
    font-size: 18px;
  }
  .contact:hover {
    color: $primary-color;
  }
}
