.contactPage_showcase {
  footer {
    grid-row: 3/4;
    grid-column: 1/1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 30px 80px 20px;
    z-index: 2;
  }
  .fab {
    font-size: 24px;
  }
  .fa-facebook-f:hover {
    color: #4267b2;
  }

  .fa-instagram:hover {
    color: rgba(214, 16, 16, 0.582);
  }

  .fa-twitter:hover {
    color: #5dbced;
  }
  .social {
    grid-column: 1/2;
    display: flex;
    width: 200px;
    justify-content: space-around;
  }
  .contact {
    grid-column: 3/4;
    font-weight: 600;
    font-size: 18px;
  }
  .contact:hover {
    color: $primary-color;
  }
}
