@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* header section */
.landingPage_showcase header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
}

.landingPage_showcase header .nav {
  position: relative;
  left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
}

.landingPage_showcase .logout {
  display: none;
}

.landingPage_showcase header .nav > * {
  text-transform: capitalize;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

.landingPage_showcase header .nav > *:hover {
  color: black;
}

.landingPage_showcase .logo {
  font-weight: 800;
  word-spacing: 15px;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 2;
}

.landingPage_showcase .logo:hover {
  color: black;
}

.landingPage_showcase .logo:hover {
  color: black;
}

/* body styling */
.landingPage_showcase {
  width: 100vw;
  height: 100vh;
  background: url(../images/doctor_child.png);
  background-size: cover;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  /* background video */
}

.landingPage_showcase .bg-video {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landingPage_showcase .content {
  color: black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

/* content section */
.landingPage_showcase .content {
  z-index: 10;
  padding: 40px 100px;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landingPage_showcase .content-wrapper {
  position: relative;
  bottom: 50px;
}

.landingPage_showcase .content-wrapper span {
  margin-right: 11px;
}

.landingPage_showcase .cta {
  text-transform: capitalize;
}

.landingPage_showcase .content > * {
  color: #fff;
}

.landingPage_showcase .content h2 {
  /* font-size: 3.6em; */
  font-size: 4.4em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.landingPage_showcase .content h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.landingPage_showcase .content p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.landingPage_showcase .content a {
  display: inline-block;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 100px;
  -webkit-box-shadow: 5px 5px 2px 1px rgba(12, 12, 12, 0.2);
          box-shadow: 5px 5px 2px 1px rgba(12, 12, 12, 0.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.landingPage_showcase .content a:hover {
  background: #000;
  color: white;
}

/* footer styling */
.landingPage_showcase footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  padding: 30px 80px 20px;
  z-index: 2;
}

.landingPage_showcase .fab {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.918);
}

.landingPage_showcase .fa-facebook-f:hover {
  color: #4267b2;
}

.landingPage_showcase .fa-instagram:hover {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-radius: 10px;
}

.landingPage_showcase .fa-twitter:hover {
  color: #5dbced;
}

.landingPage_showcase .social {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.landingPage_showcase .contact {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.landingPage_showcase .contact:hover {
  color: black;
}

.personelPage_showcase .logout {
  display: block !important;
}

.personelPage_showcase .content {
  color: black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.personelPage_showcase .sidebar {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  cursor: pointer;
}

.personelPage_showcase .sidebar button {
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 900;
}

.personelPage_showcase .sidebar button:hover {
  color: #4b70e2;
}

.locationPage_showcase .content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.locationPage_showcase .content h1 {
  position: relative;
  bottom: 10px;
  border-bottom: 3px solid #4b70e2;
  margin: 0 auto;
  color: #4b70e2;
  cursor: default;
  z-index: 1000;
}

.locationPage_showcase .leaflet-container {
  width: 100%;
  height: 100%;
}

.contactPage_showcase .content {
  color: black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.contactPage_showcase .sidebar {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  cursor: pointer;
}

.contactPage_showcase .sidebar button {
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 900;
}

.contactPage_showcase .sidebar button:hover {
  color: #4b70e2;
}

.covidPage_showcase .content {
  color: black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  margin-top: 60px !important;
}

.covidPage_showcase .sidebar {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  cursor: pointer;
}

.covidPage_showcase .sidebar button {
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.5px;
  font-weight: 900;
}

.covidPage_showcase .sidebar button:hover {
  color: #4b70e2;
}

.defaultPage_showcase header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
}

.defaultPage_showcase header .nav {
  position: relative;
  left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
}

.defaultPage_showcase header .nav > * {
  text-transform: capitalize;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

.defaultPage_showcase header .nav > *:hover {
  color: #4b70e2;
}

.defaultPage_showcase .logo {
  font-weight: 800;
  word-spacing: 15px;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
}

.defaultPage_showcase .logo:hover {
  color: #4b70e2;
}

.defaultPage_showcase .logout {
  display: none;
  color: #4b70e2;
  position: absolute;
  left: -90px;
  font-weight: 900;
  text-transform: uppercase !important;
}

.defaultPage_showcase .logout:hover {
  color: white !important;
}

.defaultPage_showcase {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: #ecf0f3;
}

.defaultPage_showcase footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  grid-column: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  padding: 30px 80px 20px;
  z-index: 1000;
}

.defaultPage_showcase .fab {
  font-size: 24px;
}

.defaultPage_showcase .fa-facebook-f:hover {
  color: #4267b2;
}

.defaultPage_showcase .fa-instagram:hover {
  color: rgba(214, 16, 16, 0.582);
}

.defaultPage_showcase .fa-twitter:hover {
  color: #5dbced;
}

.defaultPage_showcase .social {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.defaultPage_showcase .contact {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-weight: 600;
  font-size: 18px;
}

.defaultPage_showcase .contact:hover {
  color: #4b70e2;
}

.defaultPage_showcase .content {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.defaultPage_showcase .form-error {
  color: #f13c20;
}

.appointmentPage_showcase .content {
  color: black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.appointmentPage_showcase .content h1 {
  font-size: 38px;
  line-height: 46px;
  letter-spacing: -1px;
}

.appointmentPage_showcase header {
  padding: 10px 100px;
  position: relative;
  top: 25px;
}

.appointmentPage_showcase .container {
  background-color: #ecf0f3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(130px, auto) 1fr;
      grid-template-rows: minmax(130px, auto) 1fr;
  width: 100%;
  height: 110%;
  padding: 0 5vw;
  gap: 20px;
}

.appointmentPage_showcase .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointmentPage_showcase .search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appointmentPage_showcase .search-results .search {
  width: 260px !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.doctorPage_showcase .logout {
  display: block !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.animation {
  display: inline-block;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.fade-item-1 {
  -webkit-animation-delay: 0.285714s;
          animation-delay: 0.285714s;
}

.fade-item-2 {
  -webkit-animation-delay: 0.671429s;
          animation-delay: 0.671429s;
}

.fade-item-3 {
  -webkit-animation-delay: 1.157143s;
          animation-delay: 1.157143s;
}

.fade-item-4 {
  -webkit-animation-delay: 1.84286s;
          animation-delay: 1.84286s;
}

.fade-item-5 {
  -webkit-animation-delay: 2.22857s;
          animation-delay: 2.22857s;
}

.fade-item-6 {
  -webkit-animation-delay: 2.61429s;
          animation-delay: 2.61429s;
}

.fade-item-7 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.animated-logo {
  display: inline-block;
  -webkit-animation: fadeIn;
          animation: fadeIn;
}

.container {
  background-color: #ecf0f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 5vw;
}

.container h2 {
  cursor: default;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: #181818;
  text-transform: uppercase;
  text-align: center;
}

.sub-title {
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  bottom: 3px;
}

.form__input {
  width: 350px;
  height: 40px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  background-color: #ecf0f3;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  border-radius: 8px;
  -webkit-box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
          box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  margin-bottom: 15px;
}

.button {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  -webkit-box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
          box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  color: #4b70e2;
  background-color: #ecf0f3;
}

.small-button {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 900;
  font-size: 15px;
}

[type='file'] {
  opacity: 0;
  position: absolute;
  bottom: 70px;
}

input[type='text']::-webkit-input-placeholder:before {
  content: 'hello theree';
}

select:required:invalid {
  color: #6e7071;
}

option[value=''][disabled] {
  display: none;
}

option {
  color: black;
}

.form__span {
  position: relative;
  bottom: 10px;
  color: #6e7071;
}

.form__messageArea {
  max-width: 350px;
  min-width: 350px;
  max-height: 220px;
  min-height: 220px;
  padding: 10px;
  resize: none;
  font-size: 14px !important;
}

.form__medicalCondition {
  max-width: 350px;
  min-width: 350px;
  max-height: 120px;
  min-height: 120px;
  padding: 10px;
  resize: none;
  font-size: 14px !important;
}

.message-button {
  font-size: 15px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
}

.card {
  border: 1px solid #dce0e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.card .doctor-img {
  width: 280px !important;
  height: 280px !important;
}

.card .image-wrapper {
  text-align: center;
}

.card .image-wrapper img {
  width: 250px;
  height: 250px;
}

.card .info-wrapper {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  padding: 20px 60px 0;
  color: #052049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card .md {
  position: relative;
  bottom: 2px;
}

.card .card-heading {
  font-size: 18px;
  line-height: 36px;
  margin-right: 17vw;
}

.card .card-heading span {
  margin-right: 12px;
}

.card .card-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 22px;
}

.card .card-phone .number {
  font-size: 18px;
  line-height: 28px;
}

.card .card-phone .phone-icon {
  margin-right: 10px;
}

.card specialisation {
  font-weight: 400;
}

.card .uppercase {
  text-transform: uppercase;
}

.card .capitalise {
  text-transform: capitalize;
}

.card .name {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.3px;
}

.card .speciality {
  color: #506380;
  font-weight: 400;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: capitalize;
  font-size: larger;
  position: relative;
  padding: 15px;
}

.modal-container h1 {
  text-transform: uppercase;
}

.modal-container .modal-btn {
  background-color: #4b70e2;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: white;
}

.modal-container .modal-btn:hover {
  padding: 16px;
}

.doctor-modal-card .doctor-modal-heading {
  margin-bottom: 10px;
}

.doctor-modal-card div {
  margin-bottom: 5px;
}

.toast-info {
  background-color: #4b70e2 !important;
  color: white;
}

.toast-error {
  background-color: #f13c20 !important;
  color: white;
}

/* basic styles */
.skeleton {
  background: #ddd;
  overflow: hidden;
  border-radius: 4px;
}

.skeleton.text {
  width: 25%;
  height: 10px;
  margin-bottom: 15px;
}

.skeleton.title {
  width: 45%;
  height: 12px;
  margin-bottom: 15px;
}

.skeleton.thumbnail {
  width: 300px;
  height: 300px;
}

.skeleton-wrapper {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

/* skeleton profile */
.skeleton-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
}

/* themes */
.skeleton-wrapper.light {
  background: #f2f2f2;
}

/* animation effects */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  -webkit-box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  100% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  100% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
}

.skeleton-spacing {
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.fab:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */