.card-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}
.card {
  border: 1px solid #dce0e6;
  display: flex;
  cursor: pointer;
  .doctor-img {
    width: 280px !important;
    height: 280px !important;
  }
  .image-wrapper {
    text-align: center;
    img {
      width: 250px;
      height: 250px;
    }
  }
  .info-wrapper {
    flex-grow: 100;
    padding: 20px 60px 0;
    color: #052049;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .md {
    position: relative;
    bottom: 2px;
  }
  .card-heading {
    font-size: 18px;
    line-height: 36px;
    margin-right: 17vw;
    span {
      margin-right: 12px;
    }
  }
  .card-phone {
    display: flex;
    align-items: center;
    position: relative;
    top: 22px;
    .number {
      font-size: 18px;
      line-height: 28px;
    }
    .phone-icon {
      margin-right: 10px;
    }
  }
  specialisation {
    font-weight: 400;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .capitalise {
    text-transform: capitalize;
  }
  .name {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.3px;
  }
  .speciality {
    color: #506380;
    font-weight: 400;
  }
}
