.modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
  font-size: larger;
  position: relative;
  padding: 15px;
  h1 {
    text-transform: uppercase;
  }
  .modal-btn {
    background-color: $primary-color;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: white;
    &:hover {
      padding: 16px;
    }
  }
}

.doctor-modal-card {
  .doctor-modal-heading {
    margin-bottom: 10px;
  }
  div {
    margin-bottom: 5px;
  }
}
