@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import 'variables';
@import '../landingPage/landingPage';
@import '../personelPage/personelPage';
@import '../locationPage/locationPage';
@import '../contactPage/contactPage';
@import '../covidPage/covidPage';
@import '../defaultPageStyling/defaultPage';
@import '../appointmentPage/appointmentPage';
@import 'resets';
@import 'animate';
@import 'signupForm';
@import 'card';
@import 'modal';
@import 'toast';

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.fab:hover {
  cursor: pointer;
}
