@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import 'variables';
@import '../landingPage/landingPage';
@import '../personelPage/personelPage';
@import 'resets';
@import 'animate';

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.fab:hover {
  cursor: pointer;
}
