.defaultPage_showcase {
  .content {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
  .form-error {
    color: $error;
  }
  .login-info {
    margin-top: 20px;
    color: $primary-color;
     div{
    margin-top: 2px;
    }
  }
}
